<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-list nav-list-bricks">
      <li>
        <a href="#">
          Firmer Passes
          <span class="badge pull-right">Tech</span>
        </a>
      </li>
      <li>
        <a href="#">
          Keep Head Up
          <span class="badge pull-right">Psych</span>
        </a>
      </li>
    </ul>
    <a href="#" class="btn btn-sm btn-info pull-right"><span class="icon-plus"></span></a>
  </div>
</div>
