<div class="row">
  <div class="col-xs-12">
    <%= render "shared/tracker_menu" %>

    <hr>

    <ul class="activity-list">
      <%= render current_user.achievements.where(trashed_at: nil) %>
    </ul>
  </div>
</div>
