defaults : &defaults
  adapter: mysql2
  username: root
  password:
  pool: 5
  timeout: 5000

development: &DEV
  <<: *defaults
  database: train-rec_development

test: &TEST
  <<: *defaults
  database: train-rec_test

production:
  <<: *defaults
  database: train-rec_production
