<div class="form-group">
  <%= f.text_area :description, class: "form-control", rows: 5 %>
</div>


<!-- need to split out the form controls so we can re-use them in the inline Achievement Editing -->
<div class="clearfix">

  <%= button_tag(type: 'submit', class: 'btn btn-primary pull-right') do %>
    <span class="icon-checkmark"></span>
  <% end %>
</div>
